/*PAGINA PRINCIPAL*/

.bordes-principal{
    width: 90%;
    margin: 0 auto;
    border-left: 50px solid #009200;
    border-right: 50px solid #ff0000;
    padding: 20px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    background-color: #efefef;
}

.menu img{
    width: 150px;
    height: 100px;
}

.separador{
    margin: 0 10px;
    color: #999;
}

.menu ul{
    display: inline-block;
    padding: 10px 3px;
    list-style: none;
    background-color: #7ce175;
    border: 1px solid #797979;
    border-radius: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.menu li{
    display: inline;
    margin-right: 10px;
}

.menu a, .contenedor a{
    text-decoration: none;
    color: #000000;
}

.menu a:hover, .contenedor a:hover{
    text-decoration: underline;
}

.acceder{
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background: #cccccc;
    cursor: pointer;
    position: absolute;
    left: 700px;
    top: 650px;
    padding-left: 15px;
    padding-right: 15px;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.img-principal{
    width: 50%;
    height: 50vh;
    margin: 0 20px;
}

.contenedor a {
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;

}

.icono-asistencia{
    background-image: url('img/asistencia.png');
}
.icono-historial {
    background-image: url('img/historial-asistencia.png');
}
.icono-consulta {
    background-image: url('img/consulta.png');
}

.icono-asistencia, .icono-historial, .icono-consulta {
    background-size: 60px 60px;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    transition: transform 0.3s;
}

.icono-asistencia:hover, .icono-historial:hover, .icono-consulta:hover{
    transform: scale(1.5);
}

.titulo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.mision-vision{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.columna {
    flex: 1;
    padding: 10px;
    border: 3px solid #ccc;
    text-align: center;
}


/*--------------------------------------------------------------------------
INICIAR SESION*/

.bordes-sesion{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-left: 50px solid #009200;
    border-right: 50px solid #ff0000;
}

.contenedor-sesion{
    background-image: url('img/plaza.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-sesion{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    border: 5px solid #797979;
}

.form-sesion input[id="email-sesion"], .form-sesion input[id="contraseña-sesion"] {
    width: 250px;
    height: 10px;
    padding: 10px;
    margin: 10px;
}

.form-sesion input[id="email-sesion"]:focus, .form-sesion input[id="contraseña-sesion"]:focus {
    border: 3px solid #ff0000;
}

.form-sesion input[type="submit"] {
    background-color: #009900;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

.form-sesion input[type="submit"]:hover {
    background-color: #006600;
}

.registro-sesion {
    text-align: center;
    padding: 5px;
}

.form-sesion a {
    text-decoration: none;
    color: #009900;
}

.form-sesion a:hover {
    text-decoration: underline;
    color: #006600;
}

.form-sesion h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/*----------------------------------------------------
REGISTRO DE USUARIO
------------------------------------------------------*/

.bordes-registro{
    width: 90%;
    margin: 0 auto;
    border-left: 50px solid #009200;
    border-right: 50px solid #ff0000;
    padding: 20px;
}

.registro {
    display: flex;
    padding: 100px;
    background-image: url("img/estatua.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.form-registro {
    padding: 30px;
    border: 2px solid #878787;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 1, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
}

.registro h1{
    font-size: 90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    -webkit-text-stroke: 2px #000000;
    -webkit-text-fill-color: rgb(255, 255, 255);
    align-self: center;
}

.registro input{
    width: 300px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #ffffff;
}

.registro select{
    width: 310px;
    height: 30px;
    margin: 10px auto;
}

.registro button{
    width: 150px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: monospace;
    background:#cbffcb;
    display: block;
    margin: 2px auto;
}

.regresar-registro {
    display: inline-block;
    padding: 2px 5px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
}

/*-----------------------------------------------------
REGISTRO DE ASISTENCIA
-----------------------------------------------------*/

.bordes-asistencia {
    width: 90%;
    margin: 0 auto;
    border-left: 50px solid #009200;
    border-right: 50px solid #ff0000;
    padding: 20px;
}

.menu-asistencia {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}

.menu-asistencia ul{
    display: inline-block;
    padding: 5px 25px;
    list-style: none;
    background-color: #e17575;
    border: 1px solid #797979;
    border-radius: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.menu-asistencia li{
    display: inline;
    margin-right: 10px;
}

.menu-asistencia a {
    text-decoration: none;
    color: #000000;
}

.menu-asistencia a:hover {
    text-decoration: underline;
}

.contenedor-asistencia{
    background-image: url('img/paraninfo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.form-asistencia{
    padding: 20px;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 2px solid #0b3c00;
    text-align: center;
}

.form-asistencia h1 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    -webkit-text-stroke: 2px #000000;
    -webkit-text-fill-color: rgb(255, 255, 255);
}

.form-asistencia input[id="hora-asistencia"],.form-asistencia input[id="fecha-asistencia"] {
    width: 250px;
    height: 25px;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border: 2px solid #009900;
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    border-radius: 5px;
}

.form-asistencia input[id="enviar-asistencia"] {
    background-color: #009900;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

.form-asistencia input[id="enviar-asistencia"]:hover {
    background-color: #006600;
}

/*-----------------------------------------------------
Historial de Asistencias
-------------------------------------------------------*/

.bordes-historial {
    width: 90%;
    margin: 0 auto;
    border-left: 50px solid #009200;
    border-right: 50px solid #ff0000;
    padding: 20px;
}

.imagen-superior-historial {
    background-image: url('img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 100px;
    margin: 10px;
}

.contenedor-historial {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.contenedor-historial h1 {
    font-size: 28px;
    color: #333;
}

.contenedor-historial table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.contenedor-historial table, th, td {
    border: 1px solid #ccc;
}

.contenedor-historial th, td {
    padding: 10px;
    text-align: center;
}

.contenedor-historial thead {
    background-color: #333;
    color: #fff;
}

.contenedor-historial tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.contenedor-historial td:nth-child(4) {
    color: green;
}

.contenedor-historial td:nth-child(4):not(:contains('Presente')) {
    color: red;
}

.enlace-regresar-historial {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #009200;
    text-decoration: none;
    margin-top: 20px;
}

.enlace-regresar-historial:hover {
    text-decoration: underline;
}


/*-----------------------------------------------------------
CONSULTA DE DATOS
-------------------------------------------------------------*/

.bordes-consulta {
    width: 90%;
    margin: 0 auto;
    border-left: 50px solid #009200;
    border-right: 50px solid #ff0000;
    padding: 20px;
}
.contenedor-consulta {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.contenedor-consulta h2 {
    font-size: 34px;
    color: #333;
    margin-bottom: 20px;
}

#formulario-consulta {
    text-align: center;
}

#formulario-consulta label {
    display: block;
    font-size: 26px;
    color: #333;
    margin-bottom: 10px;
}

#formulario-consulta input[type="date"] {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

#formulario-consulta button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #009200;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#formulario-consulta button:hover {
    background-color: #007700;
}

.enlace-regresar-consulta {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #009200;
    text-decoration: none;
    margin-top: 20px;
}

.enlace-regresar-consulta:hover {
    text-decoration: underline;
}

.contenedor-consulta h1 {
    font-size: 28px;
    color: #333;
}

.contenedor-consulta table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.contenedor-consulta table, th, td {
    border: 1px solid #ccc;
}

.contenedor-consulta th, td {
    padding: 10px;
    text-align: center;
}

.contenedor-consulta thead {
    background-color: #333;
    color: #fff;
}

.contenedor-consulta tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.contenedor-consulta td:nth-child(4) {
    color: green;
}

.contenedor-consulta td:nth-child(4):not(:contains('Presente')) {
    color: red;
}
